		*{
			margin: 0;
			padding: 0px;
		}


		.box{
			
			width: 300px;
			height: 200px;

			border: 1px solid black;
			background: gray;
		}

		.button-def{
			width: 30px;
			height: 30px;
			margin-left: 1px
		}

		.btnLimpar{
			width: 60px;
			height: 30px;
		}

		.colunaEsq{
			width: 33%;
			display: block;
		}

		.colunaMeio{
			width: 33%;
			
		}

		.colunaDir{
			width: 34%;
			
		}

		.visorResultado{
			height: 90%;
			width: 30%;
			background: white;
			display:  left;

		}
		.visorValores{
			height: 90%;
			width: 30%;


		}

		.visorTeclas{
			height: 90%;
			width: 72px;

		}

		.header_default, 		
		.footer_default{ width: 100% }

		html,
		body{
			width: 100%;
			height: 100%;
			background: #E2F2F2;
		}

		.header_default{
			height: 60px;
			text-align: center;
			background-color: #464A4F;

		}

		.header_default h1{
			color: white;			
			padding: 10px;
			text-align: center

			/*
			font: normal,16px, sans-serif;
			*/
						
		}

		.principal_2{				
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			/*
			display: flex;
			flex-direction: row;
			align-items: center;
			*/
		}

		.principal_default{	
			height: calc(100% - 180px);
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
		}


		.footer_default{	
			height: 120px;
			background-color: #eeeeee;
		}

		h1{
			text-align: center;

		}

		article{ }

		header{	}
		footer{	}
		
		aside{}

		.artigos{
			width: 90%;
			height: 100%;
			margin: 0 5%;
			list-style: none;			
						
		}

		.artigo {
			display: inline-block;
			padding: 1rem 0;
			border-bottom: 1px dashed #dedede;

		}

		.artigo h3{
			margin: 0 0 10px 0;
			font: 300 1.3rem "Helveltica";
			color: orange;
			text-transform: capitalize;
		}

		.artigo p{
			line-height: 1.5;
			font-size: .9rem;
			text-align: justify;
		}
		.artigo span{
			float: right;
			margin: 1rem 0;
			color: gray;
			font-size: .75rem;
			text-transform: uppercase;


		}


		.artigo-lista{

		}

		.artigo:first-child { 	}

		.artigo:last-child { border: none;  }


		.aside_default{
			float: right;			
			display: flex;	
			flex-direction:  column;
			justify-content: space-between;		
			width: 30%;
			height: 90%;						
			margin-left: 2.5%;			
			overflow: hidden;
								

		}
		
		.post_list{
			float: left;
			height: 90%;
			width: 60%;			
			background-color: white;			
			overflow: auto;				
			
		}
		.autores_list{
			width: 100%;
			height: 45%;
			align-self: flex-start;

		}
		.image_list{
			height: 45%;
			width: 100%;
			align-self: flex-end;


		}
		.cor-1{
			background-color: white;
			color:blue;
		}
		#cor-2{
			background-color: green;
			color:blue;
		}
